<div class="alert alert-danger scale-fade" data-ng-if="model.errorMessage">
	<button type="button" class="close" data-ng-click="clearErrorMessage()">&times;</button>
	{{model.errorMessage}}
</div>

<div class="panel-group" id="dsComponentDetailAccordion" >

	<collapse-panel id="panelDsComponentDetail" expanded="true">
		<collapse-panel-header>
			<h3 class="panel-title">Overview</h3>
		</collapse-panel-header>
		<collapse-panel-body>
			<table class="table table-hover table-curved osgimgmt-sortable-table osgimgmt-bundlelist osgimgmt-table-selectable">
				<tbody>
					<tr><td>Id</td></td><td>{{model.component.id}}</td></tr>
					<tr><td>Name</td></td><td>{{model.component.name}}</td></tr>
					<tr><td>State</td><td><span osgi-dscomponent-state-label component="model.component" /></td></tr>
					<tr><td>Implementation Class</td></td><td>{{model.component.implementationClass}}</td></tr>
					<tr><td>Activation</td></td><td>{{model.component.activation}}</td></tr>
					<tr><td>Declaring Bundle</td><td><span osgi-bundle-name="model.component.declaringBundle" /></td></tr>
					<tr><td>Default State</td></td><td>{{model.component.defaultState}}</td></tr>
					<tr><td>Configuration Policy</td></td><td>{{model.component.configurationPolicy}}</td></tr>
					<tr><td>Configuration Pid</td></td><td>{{model.component.configurationPid}}</td></tr>
				</tbody>
			</table>
		</collapse-panel-body>
	</collapse-panel>

	<collapse-panel id="panelDsComponentServices" expanded="model.component.service.serviceInterfaces.length != 0">
		<collapse-panel-header>
			<h3 class="panel-title">Provided Services (Type: {{model.component.service.type}}) <span osgi-badge-counter="model.component.service.serviceInterfaces" /></h3>
		</collapse-panel-header>
		<collapse-panel-body>
			<table class="table table-sortable table-hover table-curved osgimgmt-sortable-table osgimgmt-bundlelist osgimgmt-table-selectable">
				<thead><tr><th default-order order-key="si" >Name</th></tr></thead>
				<tbody>
					<tr data-ng-repeat="si in model.component.service.serviceInterfaces | arraySort: orderKey"><td>{{si}}</td></tr>
				</tbody>
			</table>
		</collapse-panel-body>
	</collapse-panel>


	<collapse-panel id="panelDsComponentReferences" expanded="model.component.references.length!=0">
		<collapse-panel-header>
			<h3 class="panel-title">References <span osgi-badge-counter="model.component.references.length" /></h3>
		</collapse-panel-header>
		<collapse-panel-body>
			<table class="table table-hover table-sortable table-curved osgimgmt-sortable-table osgimgmt-bundlelist osgimgmt-table-selectable">
				<thead>
					<tr>
						<th default-order order-key="serviceInterface">Service</th>
						<th class="osgimgmt-centered" order-key="targetFilter">Filter</th>
						<th class="osgimgmt-centered" order-key="satisfied">Satisfied</th>
						<th class="osgimgmt-centered" order-key="multiple">Multiple</th>
						<th class="osgimgmt-centered" order-key="optional">Optional</th>
						<th class="osgimgmt-centered" order-key="static">Static</th>
						<th class="osgimgmt-centered" order-key="boundServices.length">Bound</th>
					</tr>
				</thead>

				<tbody>
					<tr data-ng-repeat="r in model.component.references | orderBy: orderKey">
						<td>{{r.serviceInterface}}</td>
						<td class="osgimgmt-centered"><i tooltip='{{r.targetFilter}}' class="fa" data-ng-class="{'fa-ellipsis-horizontal': r.targetFilter}"></i></td>
						<td class="osgimgmt-centered"><i class="fa"
							   data-ng-class="
							   {'fa-check-circle-o':r.satisfied,
							   'fa-exclamation-triangle':!r.satisfied||r.boundServices.length==0,
							   'osgimgmt-ref-satisfied':r.satisfied&&r.boundServices.length!=0,
							   'osgimgmt-ref-satisfied-warning':r.satisfied&&r.boundServices.length==0,
							   'osgimgmt-ref-unsatisfied':!r.satisfied}"
								></i></td>
						<td class="osgimgmt-centered"><i class="fa" data-ng-class="{'fa-check-circle-o':r.multiple,'fa-circle-o':!r.multiple}"></i></td>
						<td class="osgimgmt-centered"><i class="fa" data-ng-class="{'fa-check-circle-o':r.optional,'fa-circle-o':!r.optional}"></i></td>
						<td class="osgimgmt-centered"><i class="fa" data-ng-class="{'fa-check-circle-o':r.static,'fa-circle-o':!r.static}"></i></td>
						<td class="osgimgmt-centered">{{r.boundServices.length}}</td>
					</tr>
				</tbody>
			</table>
		</collapse-panel-body>
	</collapse-panel>


	<collapse-panel id="panelDsComponentProperties" expanded="model.component.properties">
		<collapse-panel-header>
			<h3 class="panel-title">Properties <span osgi-badge-counter="model.component.properties" /></h3>
		</collapse-panel-header>
		<collapse-panel-body>
			<table class="table table-hover table-curved osgimgmt-sortable-table osgimgmt-bundlelist osgimgmt-table-selectable">
				<tbody>
					<tr data-ng-repeat="(key,value) in model.component.properties">
						<td>{{key}}</td>
						<td>{{value}}</td>
					</tr>
				</tbody>
			</table>
		</collapse-panel-body>
	</collapse-panel>
</div>