<div class="panel-group" id="accordion" >


	<collapse-panel id="panelBundleDetail">
		<collapse-panel-header>
			<h3 class="panel-title"><span osgi-bundle-name="model.bundleDetail.bundle" />&nbsp;&nbsp;<span osgi-badge-counter="model.bundleDetail.bundle" /></a></h3>
		</collapse-panel-header>
		<collapse-panel-body>
			<table class="table table-sortable table-hover table-curved osgimgmt-sortable-table osgimgmt-bundlelist osgimgmt-table-selectable">
				<thead><tr><th order-key="key" colspan="2">Bundle Details</th></tr></thead>
				<tbody>
					<tr data-ng-repeat="(key,value) in model.bundleDetail.bundle | orderBy: orderKey">
						<td>{{key}}</td>
						<td>{{value}}</td>
					</tr>
				</tbody>
			</table>
		</collapse-panel-body>
	</collapse-panel>

	<collapse-panel id="panelImportedPackages" expanded="model.bundleDetail.importedPackages.length!=0">
		<collapse-panel-header>
			<h3 class="panel-title">Imported Packages <span osgi-badge-counter="model.bundleDetail.importedPackages" /></h3>
		</collapse-panel-header>
		<collapse-panel-body>
			<table class="table table-sortable table-hover table-curved osgimgmt-sortable-table osgimgmt-bundlelist osgimgmt-table-selectable">
				<thead><tr><th default-order order-key="packageName">Name</th><th order-key="importedPackageVersion">Version</th><th order-key="provider.symbolicName">Provider</th></tr></thead>
				<tbody>
				<tr data-ng-repeat="ip in model.bundleDetail.importedPackages | orderBy: orderKey">
					<td>{{ip.packageName}}</td>
					<td>{{ip.importedPackageVersion}}</td>
					<td data-ng-click="showDetails(ip.provider.id)"><span osgi-bundle-name="ip.provider" /></td>
				</tr>
				</tbody>
			</table>
		</collapse-panel-body>
	</collapse-panel>
	<collapse-panel id="panelRequiredBundles" expanded="model.bundleDetail.requiredBundles.length!=0">
		<collapse-panel-header>
			<h3 class="panel-title">Required Bundles <span osgi-badge-counter="model.bundleDetail.requiredBundles" /></h3>
		</collapse-panel-header>
		<collapse-panel-body>
			<table class="table table-sortable table-hover table-curved osgimgmt-sortable-table osgimgmt-bundlelist osgimgmt-table-selectable">
				<thead><tr><th default-order order-key="requiredBundleSymbolicName">Name</th><th order-key="requiredBundleVersion">Version</th><th order-key="provider.symbolicName">Provider</th></tr></thead>
				<tbody>
				<tr data-ng-repeat="ip in model.bundleDetail.requiredBundles | orderBy: orderKey">
					<td>{{ip.requiredBundleSymbolicName}}</td>
					<td>{{ip.requiredBundleVersion}}</td>
					<td data-ng-click="showDetails(ip.provider.id)"><span osgi-bundle-name="ip.provider" /></td>
				</tr>
				</tbody>
			</table>
		</collapse-panel-body>
	</collapse-panel>

	<collapse-panel id="panelExportedPackages" expanded="model.bundleDetail.exportedPackages.length!=0">
		<collapse-panel-header>
			<h3 class="panel-title">Exported Packages  <span osgi-badge-counter="model.bundleDetail.exportedPackages" /></h3>
		</collapse-panel-header>
		<collapse-panel-body>
			<table class="table table-sortable table-hover table-curved osgimgmt-sortable-table osgimgmt-bundlelist osgimgmt-table-selectable">
				<thead><tr><th default-order order-key="name">Name</th><th order-key="version">Version</th></tr></thead>
				<tbody>
				<tr data-ng-repeat="ep in model.bundleDetail.exportedPackages | orderBy: orderKey">
					<td>{{ep.name}}</td>
					<td>{{ep.version}}</td>
				</tr>
				</tbody>
			</table>
		</collapse-panel-body>
	</collapse-panel>





	<collapse-panel id="panelServicesInUse" expanded="model.bundleDetail.servicesInUse.length!=0">
		<collapse-panel-header>
			<h3 class="panel-title">Services in use  <span osgi-badge-counter="model.bundleDetail.servicesInUse" /></h3>
		</collapse-panel-header>
		<collapse-panel-body>
			<table class="table table-sortable table-hover table-curved osgimgmt-sortable-table osgimgmt-bundlelist osgimgmt-table-selectable">
				<thead><tr><th order-key="id">Id</th><th order-key="serviceInterfaces" default-order>Interfaces</th><th order-key="provider.symbolicName">Provider</th></tr></thead>
				<tbody>
				<tr data-ng-repeat="ep in model.bundleDetail.servicesInUse | orderBy: orderKey">
					<td>{{ep.id}}</td>
					<td><span data-ng-repeat="si in ep.serviceInterfaces">{{si}}<br/></span> </td>
					<td><span osgi-bundle-name="ep.provider" /></td>
				</tr>
				</tbody>
			</table>
		</collapse-panel-body>
	</collapse-panel>

	<collapse-panel id="panelRegisteredServices" expanded="model.bundleDetail.registeredServices.length!=0">
		<collapse-panel-header>
			<h3 class="panel-title">Registered Services  <span osgi-badge-counter="model.bundleDetail.registeredServices" /></h3>
		</collapse-panel-header>
		<collapse-panel-body>
			<table class="table table-sortable table-hover table-curved osgimgmt-sortable-table osgimgmt-bundlelist osgimgmt-table-selectable">
				<thead><tr><th order-key="id">Id</th><th order-key="serviceInterfaces">Interfaces</th><th order-key="usingBundlesCount"># of Bundles Using</th></tr></thead>
				<tbody>
				<tr data-ng-repeat="ep in model.bundleDetail.registeredServices | orderBy: orderKey">
					<td>{{ep.id}}</td>
					<td><span data-ng-repeat="si in ep.serviceInterfaces">{{si}}<br/></span> </td>
					<td>{{ep.usingBundlesCount}}</td>
				</tr>
				</tbody>
			</table>
		</collapse-panel-body>
	</collapse-panel>

	<collapse-panel id="panelHeaders" expanded="false">
		<collapse-panel-header>
			<h3 class="panel-title">Headers <span osgi-badge-counter="model.bundleDetail.headers" /></h3>
		</collapse-panel-header>
		<collapse-panel-body>
			<table class="table table-sortable table-hover table-curved osgimgmt-sortable-table osgimgmt-bundlelist osgimgmt-table-selectable">
				<thead><tr><th default-order order-key="key">Name</th><th order-key="value">Value</th></tr></thead>
				<tbody>
				<tr data-ng-repeat="(key,value) in model.bundleDetail.headers | orderBy: orderKey">
					<td>{{key}}</td>
					<td>{{value}}</td>
				</tr>
				</tbody>
			</table>
		</collapse-panel-body>
	</collapse-panel>

</div>