<div class="row osgimgmt-title-row" id="title-row">
	<div class="col-md-12">
		<a href="/"><img src="/images/osgi-symbol.png" class="pull-left"/></a>
		<div>
			<h1>{{page.title}}</h1>
			<h4 data-ng-if="page.subtitle"><span class="back osgimgmt-back" data-ng-if="page.back" data-ng-click="$back()"><i class="fa fa-lg fa-arrow-circle-left"></i>&nbsp;</span>{{page.subtitle}}</h4>
		</div>

	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<div id="osgimgmt-sidebar" data-ng-include="page.sidebar" class="bs-sidebar hidden-print affix" role="complementary"></div>
	</div>
	<div class="col-md-9">
		<div data-ng-include="page.content" class="osgimgmt-page-content slide-reveal" ></div>
	</div>
</div>
