<ul class="nav bs-sidenav osgimgmt-sidebar list-group">
	<li class="list-group-item osgi-mgmt-list-group-item"><a>State<span class="pull-right"><span osgi-bundle-state-label bundle="model.bundleDetail.bundle" /></span></a></li>
	<li class="list-group-item osgi-mgmt-list-group-item"><a href="" scroll-to='#panelBundleDetail:#osgimgmt-sidebar'>Bundle Data <span class="badge pull-right">{{getPropertyCount(model.bundleDetail.bundle)}}</span></a></li>
	<li class="list-group-item osgi-mgmt-list-group-item"><a href="" scroll-to='#panelImportedPackages:#osgimgmt-sidebar'>Imported Packages <span class="badge pull-right">{{model.bundleDetail.importedPackages.length}}</span></a></li>
	<li class="list-group-item osgi-mgmt-list-group-item"><a href="" scroll-to="#panelRequiredBundles:#osgimgmt-sidebar">Required Bundles <span class="badge pull-right">{{model.bundleDetail.requiredBundles.length}}</span></a></li>
	<li class="list-group-item osgi-mgmt-list-group-item"><a href="" scroll-to="#panelExportedPackages:#osgimgmt-sidebar">Exported Packages <span class="badge pull-right">{{model.bundleDetail.exportedPackages.length}}</span></a></li>
	<li class="list-group-item osgi-mgmt-list-group-item"><a href="" scroll-to="#panelServicesInUse:#osgimgmt-sidebar">Services in use <span class="badge pull-right">{{model.bundleDetail.servicesInUse.length}}</span></a></li>
	<li class="list-group-item osgi-mgmt-list-group-item"><a href="" scroll-to="#panelRegisteredServices:#osgimgmt-sidebar">Registered Services <span class="badge pull-right">{{model.bundleDetail.registeredServices.length}}</span></a></li>
	<li class="list-group-item osgi-mgmt-list-group-item"><a href="" scroll-to="#panelHeaders:#osgimgmt-sidebar">Headers <span class="badge pull-right">{{getPropertyCount(model.bundleDetail.headers)}}</span></a>

</li>
</ul>