<ul class="nav bs-sidenav osgimgmt-sidebar">
	<li class="list-group-item osgi-mgmt-list-group-item"><a href="" scroll-to='#panelServiceDetail:#osgimgmt-sidebar'>Overview</a></li>
	<li class="list-group-item osgi-mgmt-list-group-item"><a href="" scroll-to='#panelServiceInterfaces:#osgimgmt-sidebar'>Service Interfaces <span class="badge pull-right">{{model.service.serviceInterfaces.length}}</span></a></li>
	<li class="list-group-item osgi-mgmt-list-group-item"><a href="" scroll-to="#panelUsingBundles:#osgimgmt-sidebar">Using Bundles <span class="badge pull-right">{{model.service.usingBundles.length}}</span></a></li>
	<li class="list-group-item osgi-mgmt-list-group-item"><a href="" scroll-to="#panelProperties:#osgimgmt-sidebar">Properties <span class="badge pull-right">{{getPropertyCount(model.service.properties)}}</span></a></li>
</ul>